@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

html{
  padding: 0;
  margin: 0;
}

body{
  padding: 0;
  margin: 0;
  background: black;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  overflow-x: hidden;
}

/* RESET */

h1,h2,h3,h4,h5,h6,p,li,ul,form,input,textarea,button,a{
  padding: 0;
  margin: 0;
}

.container_mint{
  width: 1080px;
  height: auto;
  background: black;
  margin: 42px auto;
  justify-content: center;
}

.container_mint iframe{
  width: 100%;
}

.medium_title{
  color: white;
  font-size: 20px;
}

.small_title{
  color: white;
  font-size: 18px;
}


/* START */

.container_moove{
  width: 100%;
  height: auto;
  padding: 12px 0px;
  overflow: hidden;
}

.moove{
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  transform: translateX(100%); /* Animation start out of the screen */
  animation: move 20s infinite linear;
}
@keyframes move {
  to { transform: translateX(-100%); }
}

.moove p{
  width: 1080px;
  display: block;
  font-size: 12px;
  color: white;
  word-wrap:inherit;
}

header{
  width: 100%;
  height: auto;
  padding: 18px 0px;
  margin: 0 auto;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  background: black;
}

.center_header{
  width: 1080px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

header h1{
  font-size: 24px;
  font-weight: 600;
  color: white;
  position: relative;
  z-index: 999999;
}

header h1 span{
  color: white;
  font-size: 16px;
}

.burger_menu_icon{
  filter:invert(1);
  width: 32px;
  height: auto;
  cursor: pointer;
  position: relative;
  z-index: 999999;
  display: none;
}

.open_nav{
  width: 100%;
  height: 100vh;
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.open_nav ul{
  margin: auto;
  display: block;
}

.open_nav ul li{
  display: block;
  width: 100%;
  text-align: center;
  margin: 0;
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 500;
}

.open_nav ul li:last-child{
  margin-bottom: 0;
}

header nav{
}

.logo_header{
  width: 120px;
  height: auto;
}



header nav ul li{
  list-style: none;
  display: inline-block;
}

header nav ul li{
  margin-left: 24px
}

header nav ul li:first-child{
  margin-left: 0;
}

header nav ul li a{
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.container_all{
  width: 1080px;
  height: auto;
  margin: 0 auto;
  margin-top: 32px;
}

.filter_container{
  width: 100%;
  height: auto;
  margin-top: 40px;
}

.filter_container ul li{
  display: inline-block;
  margin-left: 14px;
  padding: 8px 12px;
  border:1px solid rgba(255, 255, 255, 0.084);
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: 450ms;
  font-size: 13px;
}

.filter_container ul li:hover{
  color: black;
  background: white;
}

.filter_container ul li:first-child{
  background: transparent;
  color: white;
}

.filter_container ul li:first-child{
  padding: 0;
  border:0;
  margin-left: 0;
  cursor: inherit;
}

.container_box{
  width: 100%;
  height: auto;
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; */
  margin-top: 32px;
  /* padding-bottom: 32px; */
  background: black;
}

.back_array{
  width: 100%;
  background: black;
}

.array_title_container{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0 auto;

}

.container_title_array{
  width: 100%;
  background: rgba(255, 255, 255, 0.064);
  border-radius: 4px;
  padding: 20px 0;
}

.array_title_container li{
  color: white;
  list-style: none;
  font-size: 14px;
  font-weight: 600;
  flex: 1;
  cursor: pointer;
  text-align: center;
}

.array_title_container li:first-child, .array_title_container li:nth-child(2){
  cursor: inherit;
}

.container_full_line:nth-of-type(even){
  width: 100%;
  background: rgba(255, 255, 255, 0.064);
  border-radius: 4px;
}

.full_line{
  width: 95%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.full_line li{
  padding: 16px 0px;
  list-style: none;
  flex: 1;
  word-wrap: break-word;
  color: white;
  font-size: 13px;
  text-align: center;
}


.container_average{
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.button_float{
  padding: 10px 12px;
  background: #1DA1F2;
  border: 1px solid rgba(255, 255, 255, 0.084);
  border-radius: 4px;
  color: white;
  cursor: pointer;
  transition: 450ms;
  font-size: 14px;
  margin-left: 12px;
  position: fixed;
  bottom: 32px;
  right: 32px;
  z-index: 9999;
}

.converter_container{
  width: 1080px;
  height: auto;
  margin: 0 auto;
}

.button_float2{
  padding: 10px 12px;
  background: rgba(255, 255, 255, 0.084);
  border: 1px solid rgba(255, 255, 255, 0.084);
  border-radius: 4px;
  color: white;
  cursor: pointer;
  transition: 450ms;
  font-size: 14px;
  margin-left: 12px;
  position: fixed;
  bottom: 86px;
  right: 32px;
  z-index: 9999;
  text-decoration: none;
}

.flex_converter{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

.cont_input_converter{
  flex: 1;
  position: relative;
}

.flex_converter input{
  padding: 12px 12px;
  padding-left: 36px;
  width: calc(100% - 48px);
  font-size: 16px;
  font-weight: 500;
  color: white;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.084);
}

.saito_white{
  width: 120px;
  height: auto;
  display: block;
  margin: 0 auto;
  padding: 64px 0px;
}

.full_line:nth-of-type(even){
  background: rgba(255, 255, 255, 0.084);
  border-radius: 4px;
}

.box{
  width: 49%;
  height: auto;
  padding: 32px 0px;
  background: rgba(255, 255, 255, 0.05);
  margin-bottom: 20px;
  border-radius: 4px;
  border:1px solid rgba(255, 255, 255, 0.05);
}

.center_box{
  width: 90%;
  margin: 0 auto;
}

.center_box ul{
  list-style: none;
}

.center_box ul li{
  color: white;
  font-size: 15px;
  overflow-wrap: break-word;
  padding-bottom: 8px;
  font-weight: 400;
}

.span_strong{
  font-weight: 600;
}

.negativ{
  color: red;
}

.positif{
  color: green;
}

.icon_link{
  display: inline-block;
  width: 12px;
  height: 12px;
  object-fit: contain;
  margin-left: 6px;
  position: relative;
  top: 1px;
}

.icon_chain{
  width: 18px;
  height: 18px;
  display: inline-block;
  object-fit: contain;
  position: relative;
  top: 5px;
}

.container_sub_info{
  width: 1080px;
  height: auto;
  margin: 0 auto;
  margin-top: 32px;
  border:1px solid rgba(255, 255, 255, 0.084);
  padding: 64px 0px;
  margin-bottom: 32px;
  border-radius: 4px;
}

.container_sub_info h2{
  width: 420px;
  margin: 0 auto;
  display: block;
  text-align: center;
  line-height: 38px;
}

.container_marketcap{
  width: 1080px;
  height: auto;
  padding: 32px 0px;
  margin: 0 auto;
}

.flex_marketcap{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
}

.flex_marketcap .side_marketcap{
  flex: 1;
  position: relative;
}

.icon_crypto{
  width: 15px;
  height: 15px;
  object-fit: contain;
  object-position: center;
  display: block;
  position: absolute;
  top: 15px;
  left: 12px;
}

.loading_p{
  color: white;
  padding-top: 12px;
}

.flex_marketcap select{
  width: 100%;
  padding: 12px 12px;
  padding-left: 32px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  background: transparent;
  border:1px solid rgba(255, 255, 255, 0.084);
}

.last_select{
  background: white !important;
  color: black !important;
}

.icon_marketcap{
  width: 18px;
  height: auto;
  display: block;
  margin: 0 32px;
  filter:invert(1);
}

.select_pair{
  width: 100%;
  background: rgba(255, 255, 255, 0.064);
  border-radius: 4px;
  padding: 42px 0px;
  margin-top: 24px;
}

.center_select_pair{
  width: 90%;
  margin: 0 auto;
}

.select_pair p{
  color: white;
  font-size: 16px;
  font-weight: 500;
}

.select_pair ul{
  margin-top: 18px;
}

.select_pair li{
  list-style: none;
  color: white;
  font-size: 16px;
  margin-bottom: 12px;
}

.select_pair li:last-child{
  margin-bottom: 0;
}

.select_pair li img{
  display: inline-block;
  width: 14px;
  height: 14px;
  object-fit: contain;
  object-position: center;
  position: relative;
  top: 1px;
  margin-right: 8px;
}


.icon_in_text{
  width: 14px;
  height: 14px;
  display: block;
  object-fit: contain;
  object-position: center;
  display: inline-block;
  position: relative;
  top: 2px;
}


.container_activity{
  width: 1080px;
  height: auto;
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 32px;
}

.container_tx{
  width: 100%;
  height: auto;
  margin-top: 32px;
}

/* .container_tx ul{
  margin-top: 32px;
} */

/* .container_tx ul .contain_li{
  width: 100%;
  padding: 16px 0px;
} */

.container_activity ul .contain_li:nth-of-type(even){
  background: rgba(255, 255, 255, 0.05)
}

.center_li_contain{
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .container_tx ul li {
  flex: 1;
  color: white;
  list-style: none;
  font-size: 13px;
} */

.container_activity ul li img{
  width: 16px;
  height: 16px;
  display: inline-block;
  position: relative;
  top: 3px;
  margin-right: 8px;
}

.container_activity ul li a{
  color: white;
} 


.container_description{
  width: 1080px;
  height: auto;
  margin: 0 auto;
  padding-top: 32px;
}

.back_description{
  width: 100%;
  height: auto;
  padding: 32px 0px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.05);
  margin-top: 24px;
}

.center_description{
  width: 90%;
  margin: 0 auto;
}

.center_description ul li{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-size: 14px;
  margin-bottom: 12px;
  line-height: 22px;
}

.center_description ul li:first-child span{
  padding: 3px 6px;
  border-radius: 4px;
  background: #eb4034;
  margin-left: 12px;
  font-size: 12px;
}

.center_description ul li:last-child{
  margin-bottom: 0;
}

.center_description ul li .tag_description{
  padding: 6px 12px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.05);
  margin-bottom: 12px;
  margin-right: 12px;
}

.li_categories{
  flex-wrap: wrap;
  margin-top: 24px;
}

.center_description li:last-child{
  flex-wrap: wrap;
}
.center_description li:last-child div{
  margin-left: 6px;
}

.center_description ul li img{
  width: 16px;
  height: auto;
  display: inline-block;
  border-radius: 2px;
  margin-right: 8px;
}

.container_github{
  width: 1080px;
  height: auto;
  margin: 0 auto;
  padding-top: 32px;
}

.container_github li a{
  color: white;
}

.container_github .back_array{
  margin-top: 32px;
}


footer{
  padding: 32px 0px;
}

.footer_p{
  width: 100%;
  height: auto;
  text-align: center;
  color: white;
  display: block;
  padding-top: 6px;
  font-size: 12px;
}

footer p{
  color: white;
  text-align: center;
  font-size: 12px;
}

.fake_loader{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  background: black;
  display: flex;

}

.center_fake{
  width: 420px;
  height: auto;
  display: block;
  margin: auto;
  color: white;
  text-align: center;
  font-size: 13px;
}

.center_fake img{
  width: 164px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.center_fake p{
  line-height: 24px;
  margin-top: 32px;
}

.button_graph button{
  display: inline-block;
  padding: 8px 12px;
  border: 1px solid rgba(255, 255, 255, 0.084);
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: 450ms;
  font-size: 13px;
  background: transparent;
  margin-bottom: 32px;
}

.contain_chart{
  width: 100%;
  height: 540px;
  margin-bottom: 42px;
}

.container_graph2{
  width: 1080px;
  margin: 0 auto;
  margin-top: 42px;
}

.contain_chart #advanced-chart-widget-container{
  height: 100%;
}

@media screen and (max-width: 1180px) {
  .center_header, .container_all, .container_marketcap, .container_activity, .container_description, .container_graph2{
    width: 90%;
  }

  .container_sub_info{
    width: 100%;
  }

  .container_github, .container_mint{
    width: 90%;
  }

  .back_array{
    width: 1080px;
  }

  .container_box{
    overflow: hidden;
    overflow-x: scroll;
  }
}


@media screen and (max-width: 990px) {
  .container_box{
    display: block;
  }

  .box{
    width: 100%;
  }

  .container_sub_info h2{
    width: 90%;
    font-size: 18px;
    line-height: 32px;
  }

  .burger_menu_icon{
    display: block;
  }
    header ul{
    display: none;
  }
}

@media screen and (max-width: 880px) {
/*   
  .hide_mobile{
    display: none;
  } */


}


@media screen and (max-width: 780px) {
  .filter_container ul li{
    font-size: 14px;
    margin-bottom: 12px;
  }

  .filter_container ul li{
    margin-left: 10px;
  }

  header h1{
    font-size: 24px;
  }

  .center_description ul li .tag_description{
    padding: 4px 8px;
    font-size: 13px;
  }

}

@media screen and (max-width: 620px) {
  .container_average{
    display: flex;
  }

  .small_title{
    font-size: 15px;
  }

  .container_average button{
    padding: 8px 10px;
  }

  .container_average button{
    margin-left: 12px;
    /* margin-top: 24px; */
  }

  header h1{
    font-size: 18px;
  }

  header nav ul li{
    margin-left: 8px;
  }

  .flex_converter, .flex_marketcap{
    display: block;
  }

  .icon_marketcap{
    margin: 24px auto;
    transform: rotate(90deg);
  }
}